<!DOCTYPE html>
<html>
  <head>
    <title>woooo</title>
    <% metas.each do |key, value| %>
      <meta name="og:<%= key %>" content="<%= value %>">
    <% end %>
  </head>
  <body>
    rawr
  </body>
</html>
