<!DOCTYPE html>
<html>
  <head>
    <title>woooo</title>
    <meta property="og:url" content="<%= request_url %>">
    <% metas.each do |key, value| %>
      <meta property="og:<%= key %>" content="<%= value %>">
    <% end %>
  </head>
  <body>

    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1096077503771911";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <div class="fb-share-button" data-href="<%= request_url %>" data-layout="icon" data-mobile-iframe="true"></div>
  </body>
</html>
